@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #101010;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
  }

  .dark {
    --background: #101010;
    --foreground: #fffff3;
    --dock: #fffff3;
    --card: #191917;
    --card-foreground: #fffff3;
    --popover: #191917;
    --popover-foreground: #fffff3;
    --name: #A374FF;
    --cborder: #323228;
    --name-background: #181815;
    --title: #0AE448;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: #191917;
    --muted-foreground: #feffe5;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .perspective-view {
    perspective: 1500px;
  }

  .business-card {
    transform-style: preserve-3d;
    transition: transform 0.1s ease;
  }

  .grid-snap-background {
    background-image: linear-gradient(to right, rgba(163, 116, 255, 0.08) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(163, 116, 255, 0.08) 1px, transparent 1px);
    background-size: 50px 50px;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@layer components {
  .command-item {
    @apply flex items-center gap-2 px-2 py-1.5 text-sm rounded-md hover:bg-accent aria-selected:bg-accent;
  }
}